ACCESS_TOKEN_EXPIRE_MINUTES=
ADMIN_PASSWORD=
ADMIN_USERNAME=
ALPACA_HOST=
ALPACA_PORT=
DB_HOST=
DB_NAME=
DB_PASSWORD=
DB_PORT=
DB_USER=
DOME_GEOMETRY_ENABLED=
DOME_OFFSET_X_M=
DOME_OFFSET_Y_M=
DOME_OFFSET_Z_M=
DOME_OPTICAL_AXIS_OFFSET_M=
DOME_RADIUS_M=
SCIENTIST_PASSWORD=
SCIENTIST_USERNAME=
SESSION_SECRET=
SLEW_SPEED_TRANSITION_DELAY_SEC=
STCS_COMMANDS_ENABLED=
TELEMETRY_WS_HOST=
TELEMETRY_WS_PORT=
TELESCOPE_MODE=
WEATHER_PORT=